<%- include("partials/header.ejs") %>


<section class="content p-3 justify-content-center align-items-center">
    <div class="container p-3 ">
        <div class="p-3">
            <h1 class="fs-1"><%= locals.data.title %></h1>
            <p class="mb-0">
                <%= locals.data.blogcontent %>
            </p>
        </div>
    </div>
</section>


<%- include("partials/footer.ejs") %>
