<%- include("partials/header.ejs") %>


<section class="content p-3 justify-content-center align-items-center">
    <div class="container p-3">
        <div class="p-3">
            <h1 class="fs-1">Welcome to BlogX,</h1>
            <p class="mb-0">
                your ultimate destination for tech trends, coding tips, and creative insights! At BlogX, we aim to inspire and empower learners, developers, and tech enthusiasts by sharing practical knowledge, thought-provoking ideas, and hands-on projects. Whether you're exploring the basics or diving into advanced topics, our blog is designed to guide you through the dynamic world of technology and innovation. Let’s embark on this exciting journey together and turn ideas into reality!
            </p>
        </div>
    </div>
</section>


<%- include("partials/footer.ejs") %>
